body {
    margin: 10px;
    padding: 0px;    
    font-size: 14px;    
/*    background-color:#000000;*/
    background-image: url("RadialGradient.png");
    background-size: cover;
    color: #E0E0E0;
    font-weight: 700;
}

a {
    color: #E0E0E0;
}

a:link {
    color: #E0E0E0;
}

a:visited {
    color: #888888;
}

a:hover {
    color: #2D54FF;
}

a:active {
    color: #0000FF;
}